### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:


data = [4, 8, 15, 16, 23, 42]
my_series = pd.Series(data)
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
my_series = pd.Series(my_list)
print(my_series)

0     10
1     20
2     30
3     40
4     50
5     60
6     70
7     80
8     90
9    100
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data: Name,Alice,Bob,Claire Age 25,30,27 gender female,male,female

In [4]:
data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['female', 'male', 'female']}

my_dataframe = pd.DataFrame(data, columns=['Name', 'Age', 'Gender'])
print(my_dataframe)

     Name  Age  Gender
0   Alice   25  female
1     Bob   30    male
2  Claire   27  female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

#### In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different types. It is a tabular data structure with rows and columns, similar to a spreadsheet or SQL table. You can think of it as a collection of Pandas Series, where each Series represents a column of the DataFrame.

#### A Pandas Series, on the other hand, is a one-dimensional labeled array capable of holding any data type (integer, string, float, etc.). It is similar to a column in a spreadsheet or a SQL table.

In [6]:
my_series = pd.Series([10, 20, 30, 40, 50])
print(my_series)
my_dataframe = pd.DataFrame({
    'Name': ['Atharva', 'Pishir', 'Shankar'],
    'Age': [21, 22, 23],
    'City': ['Pune', 'Mumbai', 'Hyderabad']
})
print(my_dataframe)

0    10
1    20
2    30
3    40
4    50
dtype: int64
      Name  Age       City
0  Atharva   21       Pune
1   Pishir   22     Mumbai
2  Shankar   23  Hyderabad

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

#### There are many functions available in Pandas to manipulate data in a DataFrame. Some of the common functions are:

#### head() and tail(): These functions are used to show the first or last n rows of the DataFrame. For example, df.head(5) will show the first 5 rows of the DataFrame df.

#### describe(): This function provides a statistical summary of the DataFrame, including count, mean, standard deviation, minimum, maximum, and quartile values for each column.

#### drop(): This function is used to remove rows or columns from the DataFrame. For example, df.drop('column_name', axis=1) will remove the column with name 'column_name' from the DataFrame df.

#### groupby(): This function is used to group rows of the DataFrame based on some criteria. For example, df.groupby('column_name').mean() will group the rows based on the values in the column with name 'column_name' and calculate the mean value of each group.

#### sort_values(): This function is used to sort the DataFrame by one or more columns. For example, df.sort_values('column_name', ascending=False) will sort the DataFrame df in descending order based on the values in the column with name 'column_name'.

#### apply(): This function is used to apply a function to each element of the DataFrame. For example, df.apply(lambda x: x * 2) will multiply each element of the DataFrame df by 2.

In [8]:

employees = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Shankar', 'Atharva'],
    'Age': [25, 30, 35, 40, 45],
    'Salary': [50000, 60000, 70000, 80000, 90000],
    'Department': ['Sales', 'Marketing', 'Sales', 'Engineering', 'Engineering']
})

grouped_employees = employees.groupby('Department').mean()
print(grouped_employees)

              Age   Salary
Department
Engineering  42.5  85000.0
Marketing    30.0  60000.0
Sales        30.0  60000.0

/tmp/ipykernel_158/2710609897.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_employees = employees.groupby('Department').mean()

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

#### In Pandas, Series and DataFrame are mutable, while Panel is deprecated and not recommended to use.

#### A mutable object is an object whose value can be changed after it is created. For example, you can add, remove, or modify elements in a mutable object like a list or dictionary. In contrast, an immutable object like a tuple or string cannot be modified after it is created.

#### In Pandas, both Series and DataFrame are mutable. You can add, remove, or modify elements in a Series or DataFrame after they are created. For example, you can add a new column to a DataFrame or change the value of an existing cell in a Series. However, you cannot change the size or shape of a DataFrame or Series after it is created.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [9]:
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
salaries = pd.Series([50000, 60000, 70000])

df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Salary': salaries
})

print(df)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000