### Q1. List any five functions of the pandas library with execution.

#### read_csv(): This function is used to read CSV files into a Pandas DataFrame. It takes a file path as input and returns a DataFrame.

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')

#### head(): This function is used to display the first few rows of a DataFrame. It takes an integer argument that specifies the number of rows to display

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.head(10))

#### groupby(): This function is used to group data in a DataFrame by one or more columns. It returns a DataFrameGroupBy object, which can be used to perform various aggregations on the grouped data.

In [ ]:
import pandas as pd
df = pd.read_csv('data.csv')
grouped = df.groupby('category')
print(grouped.mean())

#### fillna(): This function is used to fill missing values in a DataFrame. It takes various arguments to specify how to fill the missing values, such as a scalar value or a dictionary that maps column names to fill values

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('data.csv')
df.fillna({'age': np.mean(df['age'])}, inplace=True)

#### merge(): This function is used to merge two or more DataFrames based on a common column. It takes various arguments to specify how to perform the merge, such as the type of join and the columns to merge on.

In [ ]:
import pandas as pd
df1 = pd.read_csv('data1.csv')
df2 = pd.read_csv('data2.csv')
merged = pd.merge(df1, df2, on='id', how='inner')

### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [1]:
import pandas as pd

In [2]:
def reindex_df(df):
    new_index = range(1, len(df)*2, 2)
    df = df.reindex(new_index)
    return df
df = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
})

print("Original DataFrame:\n", df)

df = reindex_df(df)

print("\nReindexed DataFrame:\n", df)

Original DataFrame:
    A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

Reindexed DataFrame:
      A    B     C
1  2.0  6.0  10.0
3  4.0  8.0  12.0
5  NaN  NaN   NaN
7  NaN  NaN   NaN

### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
### iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
### function should print the sum to the console.
#### For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
#### calculate and print the sum of the first three values, which is 60.

In [4]:
def sum_first_three(df):
    total = 0
    for i, row in df.iterrows():
        if i < 3:
            total += row['Values']
    print("Sum of first three values:", total)
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
print("DataFrame:\n", df)

sum_first_three(df)

DataFrame:
    Values
0      10
1      20
2      30
3      40
4      50
Sum of first three values: 60

### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

In [5]:
import pandas as pd
import string

def count_words(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(x.translate(str.maketrans('', '', string.punctuation)).split()))
    return df

df = pd.DataFrame({'Text': ['This is a sentence.', 'Another sentence here!', 'A third sentence with punctuation, right?']})
print("Before:\n", df)

df = count_words(df)
print("After:\n", df)

Before:
                                         Text
0                        This is a sentence.
1                     Another sentence here!
2  A third sentence with punctuation, right?
After:
                                         Text  Word_Count
0                        This is a sentence.           4
1                     Another sentence here!           3
2  A third sentence with punctuation, right?           6

### Q5. How are DataFrame.size() and DataFrame.shape() different?
#### DataFrame.size() returns the number of elements in the DataFrame, i.e., the total number of cells. It is calculated by multiplying the number of rows by the number of columns in the DataFrame. This method does not take any arguments.

#### DataFrame.shape() returns a tuple containing the number of rows and columns in the DataFrame, in that order. It does not take any arguments.

In [6]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 27],
    'Gender': ['female', 'male', 'male']
})
print(df)
print("Size of the DataFrame:", df.size)
print("Shape of the DataFrame:", df.shape)

      Name  Age  Gender
0    Alice   25  female
1      Bob   30    male
2  Charlie   27    male
Size of the DataFrame: 9
Shape of the DataFrame: (3, 3)

### Q6. Which function of pandas do we use to read an excel file?

#### To read an Excel file in pandas, we use the read_excel() function. The read_excel() function reads the data from an Excel file into a pandas DataFrame. It can read data from both .xls and .xlsx files.

In [ ]:
import pandas as pd
df = pd.read_excel('my_excel_file.xlsx')
print(df.head())

#### Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new column 'Username' in df that contains only the username part of each email address. The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

In [10]:
import pandas as pd

def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    
    return df

### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows. For example, if df contains the following values:
### A B C
### 0 3 5 1
### 1 8 2 7
### 2 6 9 4
### 3 2 3 5
### 4 9 1 2
#### Your function should select the following rows: A B C
### 1 8 2 7
### 4 9 1 2
#### The function should return a new DataFrame that contains only the selected rows.

In [17]:
import pandas as pd

def select_rows(df):

    return df[(df['A'] > 5) & (df['B'] < 10)]

In [18]:
df = pd.DataFrame({'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]})
selected_rows = select_rows(df)
print(selected_rows)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

In [19]:
import pandas as pd

def calculate_stats(df):
    mean = df['Values'].mean()
    median = df['Values'].median()
    std_dev = df['Values'].std()
    print("Mean:", mean)
    print("Median:", median)
    print("Standard deviation:", std_dev)

In [20]:
df = pd.DataFrame({'Values': [1, 2, 3, 4, 5]})
calculate_stats(df)

Mean: 3.0
Median: 3.0
Standard deviation: 1.5811388300841898

### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

### To calculate the moving average for the past 7 days for each row in a Pandas DataFrame, we can use the rolling method along with the mean method. Here's an example Python function that adds a new column 'MovingAverage' to the DataFrame 'df

In [21]:
import pandas as pd

def calculate_moving_average(df):
    
    df = df.sort_values('Date')
    
    df = df.set_index('Date')
   
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    df = df.reset_index()
    return df

### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
### column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
### Monday, Tuesday) corresponding to each date in the 'Date' column.
### For example, if df contains the following values:
### Date
### 0 2023-01-01
### 1 2023-01-02
### 2 2023-01-03
### 3 2023-01-04
### 4 2023-01-05
### Your function should create the following DataFrame:

### Date Weekday
### 0 2023-01-01 Sunday
### 1 2023-01-02 Monday
### 2 2023-01-03 Tuesday
### 3 2023-01-04 Wednesday
### 4 2023-01-05 Thursday
### The function should return the modified DataFrame.

In [23]:
import pandas as pd


df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})


df['Date'] = pd.to_datetime(df['Date'])


weekday_map = {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}


df['Weekday'] = df['Date'].dt.dayofweek.map(weekday_map)


print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [25]:
import pandas as pd

def add_weekday_column(df):

    df['Date'] = pd.to_datetime(df['Date'])

 
    weekday_map = {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday'}

   
    df['Weekday'] = df['Date'].dt.dayofweek.map(weekday_map)

    return df

### Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [26]:
import pandas as pd

# create sample DataFrame
df = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-01'],
    'Values': [10, 20, 30, 40]
})

# convert 'Date' column to datetime format
df['Date'] = pd.to_datetime(df['Date'])

# select rows between '2023-01-01' and '2023-01-31'
start_date = '2023-01-01'
end_date = '2023-01-31'
mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
result = df.loc[mask]

print(result)

        Date  Values
0 2023-01-01      10
1 2023-01-15      20
2 2023-01-31      30